<aside class="hud-hologram" aria-label="Hologram widget">
  <span class="hud-corner-line" aria-hidden="true"></span>
  <div class="holo-stage" aria-hidden="true">
    <div class="holo-orbit orbit-one"></div>
    <div class="holo-orbit orbit-two"></div>
    <div class="holo-cube">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</aside>
